.jumbotron {
  padding-top: 10rem;
  background-color: #aecaf7;
}
#portofolio {
  background-color: #aecaf7;
}
#portofolio-page {
  background-color: #5382ce;
}
#team {
  background-color: #aecaf7;
}
#team-page {
  background-color: #27f1d6;
}
section {
  padding-top: 5rem;
}
.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
.col-md-4 p {
  text-align: justify;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
a .nav-link {
  font-family: "Nunito", sans-serif;
}
.lead {
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}
.title-name {
  font-family: "Neucha", cursive;
}
