.jumbotron {
  padding-top: 10rem;
  background-color: #aecaf7;
}
#portofolio {
  background-color: #aecaf7;
}
#portofolio-page {
  background-color: #5382ce;
}
#team {
  background-color: #aecaf7;
}
#team-page {
  background-color: #27f1d6;
}
section {
  padding-top: 5rem;
}
.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
.col-md-4 p {
  text-align: justify;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
a .nav-link {
  font-family: "Nunito", sans-serif;
}
.lead {
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}
.navbar-brand.title-name {
  font-family: "Neucha", cursive;
  color: rgb(60, 245, 97);
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
h1.display-4 {
  font-family: "Tiro Gurmukhi", serif;
}

nav.header-icon {
  height: 100%;
  width: 90px;
  text-align: center;
}

nav.header-icon ul {
  list-style: none;
}

nav.header-icon ul li {
  float: left;
  margin: 3px 4px;
}

nav.header-icon ul li a {
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  top: 15px;
  display: block;
  color: white;
  border-radius: 50%;
  text-align: center;
  font: 600 16px/50px "Open Sans", sans-serif;
}

nav.header-icon ul li .icon {
  background-color: black;
}

nav.header-icon ul li a:hover {
  color: #384648;
  opacity: 0.9;
}
